html {
    scroll-behavior: smooth;
}

.circle {
    border-radius:100%;
    height:250px;
}

.flex-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.person {
    padding:40px;
}

.box {
    width:300px;
    padding:15px;
    font-size:22pt;
}

#footer h3 {
    font-size: 22pt;
}

#portfolio h3 {
    height:2em;
}