html {
    scroll-behavior: smooth;
}

ul.benefits li {
    margin-bottom:3em;
}

#menu ul {padding:0;}

body {
    font-size:13pt;
    overflow-x:hidden;
}

.box {
    width:15em;
    font-size:1.2em;
    padding:1em;
    border-radius:1em;
}

h2 {
    letter-spacing:0.05em;
}

.box h3 {
    display: inline;
}

#sponsor-us {
    color:rgba(0,0,0,0.8);
    padding:2em;
}

#header {
    padding-bottom: 2em;
}

#what-is-a-ctf {
    padding-top:4em;
    background: rgb(228,228,228);
    background:#12335e;
    color:#eee;
}

#contact-us {
    background: #1B1B1B;
    padding-top:3em;
    color:white;
}

.circle {
    border-radius:100%;
    width:min(100%,10em);
    object-fit: cover;
    aspect-ratio:1;
}

.thin {
    max-width:800px;
}

.flex-row {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.hackermans-box {
    color:#444;
    background:white;
    border-radius:1em;
    padding:1em;
}

.person {
    padding:1em;
    width:min(10em,30vw);
    aspect-ratio:1;
    display:inline-block;
}

.person h3 {
    height:2em;
}

#contact-us h3 {
}

#portfolio h3 {
    height:2em;
}

.container {
    padding-left:1em;
    padding-right:1em;
}

#welcome p {
/*    color:white;*/
}

#welcome a {
    color:inherit;
}

.logo {
    max-width: 100%;
    max-height: 20em;
}

.engsoc-logo {
    max-width: 100%;
    max-height: 8em;
}

.sign-up {
    font-size: 2em;
    font-family: monospace;
    text-align: center;
    background: blue;
    color:white;
    padding:0.4em;
    box-shadow: 0 0 0.2em 0 #000000aa;
    text-decoration: none;
    margin-top: 1em;
    border-radius:1em;
    display: inline-block;
    margin:0.5em;
}

.sign-up-panel {
    /* background:#757575; */
}

.hackermans {
    padding:4em 0;
    background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ),url('terminal.png');
    background-attachment:fixed;
    background-size:cover;
    background-color:#000d;
}

.text-center {
    text-align:center;
}

ul {
}

@media screen and (max-width:800px) {
    .hackermans-box {
        border-radius:0;
    }
	.inline-block {
		width:100%;
		padding:0;
	}
}

.gap {margin-top:3em;}

.footer {
    border-top:1px solid rgba(255,255,255,0.08);
    padding-bottom:1em;
}

.footer * {
    padding:0 1em;
}

.block {
    display:block;
}
.inline-block {
    display:inline-block;
}
.icon {
    font-size:1.5em;
}
.icon span {
	display:none;
}
