
.flex-row > div {
	flex-basis:25%;	
}




/*****************************************************************************/
/* Some tablets and larger (768px) */
/*****************************************************************************/
@media only screen and (max-width: 768px) {
	.person {
		width:min(11em,30vw);
	}
	.flex-row > div {
	flex-basis:unset;	
	}

}



/*****************************************************************************/
/* Some landscape phones and larger (576px) */
/*****************************************************************************/
@media only screen and (max-width: 540px) {

    .person {
	width: min(11em,34vw);
	}
	/* .person h3 {
	height: 1em;
	} */
	h4  {
    font-size: 0.9rem; 
	}
	.flex-row > div {
	flex-basis:33%;	
}
}
	
/*****************************************************************************/
/* Some smaller phones (576px) */
/*****************************************************************************/
@media only screen and (max-width: 414px) {
	.flex-row > div {
	flex-basis:80%;	
	}
	

	
	.person {
		padding: 1em 1em 0em;
	}
	#clock .text {
	font-size: 1.3rem;
	}
	#clock .time {

		font-size: 2.5rem;

	}
	button {
		width: 13em;
	}
	#wealthsimple {
	max-width: 20em;	
	}
}

/*****************************************************************************/
/* Some smaller phones (375px) */
/*****************************************************************************/
@media only screen and (max-width: 375px) {
	.person {
		padding: 1em;
	}
	#clock .time {

		font-size: 2.3rem;

	}
	
	#wealthsimple {
	max-width: 18em;	
	}
	
}    

@media only screen and (max-width: 321px) {
	button {
		width: 10em;
	}
	#wealthsimple {
	max-width: 16em;	
	}
} 
/*****************************************************************************/
/* Some desktops and larger (992px) */
/*****************************************************************************/
@media only screen and (max-width: 280px) {
#wealthsimple {
	max-width: 13em;	
	}
	#clock .time {

		font-size: 1.8rem;

	}
}



/*****************************************************************************/
/* Desktops and larger (1200px) */
/*****************************************************************************/
@media only screen and (min-width: 1200px) {   

}

