
.flex-row > div {
	flex-basis:25%;	
}




/*****************************************************************************/
/* Some tablets and larger (768px) */
/*****************************************************************************/
@media only screen and (max-width: 768px) {
	.person {
		width:min(11em,30vw);
	}

}


/*****************************************************************************/
/* Some landscape phones and larger (576px) */
/*****************************************************************************/
@media only screen and (max-width: 540px) {

    .person {
	width: min(11em,34vw);
	}
	/* .person h3 {
	height: 1em;
	} */
	h4  {
    font-size: 0.9rem; 
}
	
/*****************************************************************************/
/* Some smaller phones (576px) */
/*****************************************************************************/
@media only screen and (max-width: 414px) {
	.flex-row > div {
	flex-basis:80%;	
	}
	

	
	.person {
		padding: 1em 1em 0em;
	}
	
}

/*****************************************************************************/
/* Some smaller phones (375px) */
/*****************************************************************************/
@media only screen and (max-width: 375px) {
	.person {
		padding: 1em;
	}
	
}    


/*****************************************************************************/
/* Some desktops and larger (992px) */
/*****************************************************************************/
@media only screen and (max-width: 992px) {

}



/*****************************************************************************/
/* Desktops and larger (1200px) */
/*****************************************************************************/
@media only screen and (min-width: 1200px) {   

}

